doctype html
html.no-js(lang="ja" itemscope itemtype="http://schema.org/WebPage")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" name="viewport")
		meta(http-equiv="cleartype" content="on")
		title Clickable Map Generater
		meta(property="og:title" content="Clickable Map Generater")
		meta(name="twitter:title" content="Clickable Map Generater")

		meta(itemprop="headline" content="Clickable Map Generater")
		meta(itemprop="name" content="Clickable Map Generater")

		meta(name="description" itemprop="description" content="")
		meta(property="og:description" content="")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://")

		meta(content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" name="SKYPE_TOOLBAR")
		meta
	body
		.page-wrapper
			header#site-header.site-header(role="banner")
			footer#site-footer.site-footer(role="contentinfo")
