doctype html
html.no-js(lang="ja" itemscope itemtype="http://schema.org/WebPage")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" name="viewport")
		meta(http-equiv="cleartype" content="on")
		title Clickable Map Generater
		meta(property="og:title" content="Clickable Map Generater")
		meta(name="twitter:title" content="Clickable Map Generater")

		meta(itemprop="headline" content="Clickable Map Generater")
		meta(itemprop="name" content="Clickable Map Generater")

		meta(name="description" itemprop="description" content="レスポンシブなクリッカブルマップを作成するジェネレーター。")
		meta(property="og:description" content="レスポンシブなクリッカブルマップを作成するジェネレーター。")
		meta(property="og:type" content="website")
		meta(property="og:url" content="https://clickable-map.monoweb.jp")

		meta(content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" name="SKYPE_TOOLBAR")
		link(rel="stylesheet" href="/common-mw/css/style.css")
	body
		.page-wrapper
			header#site-header.site-header(role="banner")
				.site-header__logo
					h1.site-header__logo-img Clickable Map Generater
			main(itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/WebPageElement" role="main")
				.upload-wrapper
					#pic-upload-area.pic-upload-area
						p#pic-upload__txt ここに画像をドロップ
						img#pic-upload__img(src="" alt="")
					.src-write-area
						textarea#src-write-area__form
			footer#site-footer.site-footer(role="contentinfo")
				.site-footer__copyright-area
					small
						span &copy;
						span(itemprop="copyrightYear" datetime="2018") 2018
						span(itemprop="copyrightHolder")
							a.site-footer__copyright-link(href="https://monoweb.jp") monoweb.jp
		script(src="/common-mw/js/app.bundle.js")
